
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
.font
{
    font-family: "Flaticon";
    font-size: 50px;
    font-weight: bold;
    padding: 0.5em;
    text-align: center !important;
}



/* timeline css */

/* *,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-align:center;
  font-family: 'Droid Sans', sans-serif;
} */
body {
    background-color: #1d1d1d;
    min-height: 100vh;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
}
body:before {
    content: '';
    top: 0px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 0px;
    background-color: #fff;
}
 .entries {
    width: calc(100% - 50px);
    max-width: 800px;
    margin: auto;
    position: relative;
    left: -5px;
}
 .entries .entry {
    width: calc(50% - 50px);
    float: left;
    padding: 20px;
    clear: both;
    padding-top: 5em;
    text-align: right;
}
 .entries .entry:not(:first-child) {
    margin-top: -60px;
}
 .entries .entry .title {
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: #fff;
}

 .entries .entry .title.big:before {
    width: 24px;
    height: 24px;
    transform: translate(8px, -50%);
}
 .entries .entry .body {
    color: #aaa;
}
 .entries .entry .body p {
    line-height: 1.4em;
}
 .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
}
 .entries .entry:nth-child(2n) .title:before {
    left: -63px;
}
 .entries .entry:nth-child(2n) .title.big:before {
    transform: translate(-8px, -50%);
}
.timeline{
    padding-top:10em;
}
.timeline ul {
padding: 50px 0;
}
#spltext .text1{
    padding-top: 1em;
    font-size: 3.6em;
    right:30%;
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.timeline ul li {
  position: relative;
  width: 6px;
  background-color: white;
  list-style-type: none;
  height:200px;  
  margin: 0 auto;
}
 #spltext .text {
    position: absolute;
    padding-bottom: 2em;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.timeline ul li::after {
  content: '';
  position: absolute;
  background: #c8e933;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left:50%;
  transform: translateX(-50%);
  top: 0%;
}